.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.play-area-container {
    overflow: auto;
    flex: 1 1 auto;
    display: grid;
    width: fit-content;
    height: fit-content;
    outline: none;
}
