<app-background></app-background>
<mat-paginator id="paginator" [length]="length" [pageSize]="pageSize" (page)="pageEvent = $event"
    aria-label="Select page">
</mat-paginator>
<div *ngIf="pageEvent">
    <mat-card *ngIf="pageSize*pageEvent.pageIndex < rooms.length" class="card">
        <mat-card-title>{{rooms[pageSize*pageEvent.pageIndex].ownerName}}
        </mat-card-title>
        <mat-card-subtitle>
            Minute: {{rooms[pageSize*pageEvent.pageIndex].gameSettings.timeMinute}}
            <br>
            Second: {{rooms[pageSize*pageEvent.pageIndex].gameSettings.timeSecond}}
            <br>
            Bonus aléatoire: {{rooms[pageSize*pageEvent.pageIndex].gameSettings.randomBonus}}
        </mat-card-subtitle>
        <mat-card-actions>
            <span>Statut: {{rooms[pageSize*pageEvent.pageIndex].state}}</span>
            <button mat-button>Join</button>
        </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="pageSize*pageEvent.pageIndex + 1 < rooms.length" class="card">
        <mat-card-title>{{rooms[pageSize*pageEvent.pageIndex + 1].ownerName}}
        </mat-card-title>
        <mat-card-subtitle>
            Minute: {{rooms[pageSize*pageEvent.pageIndex + 1].gameSettings.timeMinute}}
            <br>
            Second: {{rooms[pageSize*pageEvent.pageIndex + 1].gameSettings.timeSecond}}
            <br>
            Bonus aléatoire: {{rooms[pageSize*pageEvent.pageIndex + 1].gameSettings.randomBonus}}
        </mat-card-subtitle>
        <mat-card-actions>
            <span>Statut: {{rooms[pageSize*pageEvent.pageIndex + 1].state}}</span>
            <button mat-button>Join</button>
        </mat-card-actions>
    </mat-card>
</div>