<mat-paginator id="paginator" [length]="length" [pageSize]="pageSize" (page)="pageEvent = $event"
    aria-label="Select page">
</mat-paginator>
<app-background>
    <mat-card>
        <mat-card-title>PaulMarie
        </mat-card-title>
        <mat-card-subtitle>
            Minute: 01
            <br>
            Second: 00
            <br>
            RandomBonus: Non
        </mat-card-subtitle>
        <mat-card-actions>
            <span>Statut: En attente</span>
            <button mat-button>Join</button>
        </mat-card-actions>
    </mat-card>
</app-background>