<div class="container">
    <div class="fakeMenu">
        <div class="fakeButtons fakeClose"></div>
        <div class="fakeButtons fakeMinimize"></div>
        <div class="fakeButtons fakeZoom"></div>
    </div>

    <h2 class="header-item">Panneau d'information</h2>
    <ul id="playersList">
        <!-- Give reserve number -->
        <p>Nombres de lettres dans la Reserve: {{ letterService.reserveSize }}</p>
        <li *ngFor="let player of playerService.players">
            <p>Nom : {{ player.name }}</p>
            <p>Score : {{ player.score }}</p>
            <div *ngIf="player.letterTable.length !== 7">Nombre de lettres sur le chevalet: {{ player.letterTable.length }}</div>
            <div *ngIf="skipTurn.isTurn && player.id === 1">
                <div id="info-timer">
                    <p>Joueur actif</p>
                    <p>Temps restant au tour: {{ skipTurn.minutes }}:{{ skipTurn.seconds }}</p>
                </div>
            </div>

            <div *ngIf="!skipTurn.isTurn && player.id === 2">
                <div id="info-timer">
                    <p>Joueur actif</p>
                    <p>Temps restant au tour: {{ skipTurn.minutes }}:{{ skipTurn.seconds }}</p>
                </div>
            </div>
        </li>
        <div *ngIf="this.endGameService.isEndGame">
            Ceci est une fin de partie Félicitations à: {{ this.endGameService.getWinnerName() }} qui est le vainqueur!!
        </div>
    </ul>
</div>
<app-player-ai></app-player-ai>
