.container {
    height: 100%;
    border-radius: 6px;
    background-image: linear-gradient(0deg, #000000 25%, #023600 25%, #023600 50%, #000000 50%, #000000 75%, #023600 75%, #023600 100%);
    background-size: 4px 4px;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #c8c8c8;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header-item {
    text-align: center;
    color: white;
    background-color: transparent;
    margin-bottom: 0px;
    padding: 10px 10px;
}

.fakeButtons {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    top: 0px;
    left: 6px;
    background-color: #ff3b47;
    border-color: #9d252b;
    display: inline-block;
}

.fakeMinimize {
    left: 11px;
    background-color: #ffc100;
    border-color: #9d802c;
}

.fakeZoom {
    left: 16px;
    background-color: #00d742;
    border-color: #049931;
}

.fakeMenu {
    //width: 100%;
    box-sizing: border-box;
    height: 25px;
    background-color: #bbb;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
