.container {
    min-height: 20em;
    border: 1px solid black;
    margin: auto;
    width: 25em;
    background: rgb(26,36,0);
    background: linear-gradient(90deg, rgba(26,36,0,0.465721322708771) 0%, rgba(222,179,20,0.6617997540813201) 75%);
    position: absolute;
    top:1em;
    
}

h1{
    text-shadow: 0 0 2px red;
}
