<!-- <mat-grid-list cols="7" rows="1">
    <h1>CHEVALET</h1>
    <mat-grid-tile *ngFor="let item of letterEaselTab" ><h2 [style.font-size.px]="fontSize*2">{{item.value}}</h2>
        <p [style.font-size.px]="fontSize">{{item.points}}</p>
    </mat-grid-tile>
</mat-grid-list>
<div id="fontSize">
<app-font-size [fontSize]="fontSize" (sizeChange)="fontSize=$event"></app-font-size>
</div> -->
<div class="easel-container">
    <div class="letter-container" *ngFor="let letter of letterEaselTab">
        <h2 [style.font-size.px]="fontSize*2">{{ letter.value }}</h2>
        <p [style.font-size.px]="fontSize">{{ letter.points }}</p>
    </div>
</div>
<app-font-size [fontSize]="fontSize" (sizeChange)="fontSize=$event"></app-font-size>
