<div class="easel-container" #easelContainer>
    <div class="letter-container" *ngFor="let letter of letterEaselTab; let i = index"
        [ngClass]="{ borderSwap: letterEaselTab[i].isSelectedForSwap, borderManipulation: letterEaselTab[i].isSelectedForManipulation }"
        (contextmenu)="onRightClick($event, i)"
        (click)="onLeftClick($event, i)">

        <h2 [style.font-size.px]="fontSize*2">{{ letter.value }}</h2>
        <p [style.font-size.px]="fontSize">{{ letter.points }}</p>
    </div>
</div>
<div>
    <button mat-raised-button color="primary" [disabled]="!isSwapButtonActive()" (click)="swap()" #swapButton>Échanger</button>
    <br>
    <button mat-raised-button color="primary" [disabled]="!isCancelButtonActive()" (click)="cancelSelection()">Annuler</button>
</div>
<div id="fontSize">
    <app-font-size [fontSize]="fontSize" (sizeChange)="handleFontSizeEvent($event)"></app-font-size>
</div>
