#progress-bar-box{
    width: 30%;
    height: 45%;
    position: relative;
    top: 10%;
    margin:auto auto;
    background-color:linen;
}

#spinner-box{
    // position: relative;
    margin: auto;
    top: 25%;
    // left: 35%;
}

#information-box{
    display: table;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 0px;
    font-size:xx-large;
}

#submit-button {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20%;
}

#submit-button-1 {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 21%;
}