<div class="container">
    <app-scrabble-board></app-scrabble-board>
    <div style="display: flex; width: 15vw; height: 85vh; justify-content: flex-start; flex-direction: column; flex-wrap: wrap; gap: 5vh">
        <app-letter-easel></app-letter-easel>
        <div *ngIf="!this.endGameService.isEndGame">
            <button mat-raised-button color="primary" id="Pass-button" (click)="this.endGameService.clearAllData()" routerLink="/home">
                Abandonner
            </button>
        </div>
        <div *ngIf="this.endGameService.isEndGame">
            <button mat-raised-button color="primary" id="Pass-button" (click)="this.endGameService.clearAllData()" routerLink="/home">
                Quitter
            </button>
        </div>
    </div>
</div>
