<div id="container">
    <div id="side-bar">
        <app-information-panel id="information-panel"></app-information-panel>
        <div id="buttons">
            <button
                mat-raised-button
                color="primary"
                id="play-button"
                [disabled]="!this.boardHandlerService.word.length"
                (click)="this.boardHandlerService.confirmPlacement()"
            >
                Jouer
            </button>
            <div id="wrapper">
                <button
                    mat-raised-button
                    color="primary"
                    id="regular-button"
                    [disabled]="!this.skipTurnService.isTurn"
                    (click)="this.chatBoxService.sendPlayerMessage('!passer')"
                >
                    Passer son tour
                </button>

                <div *ngIf="!endGameService.isEndGame && gameSettingsService.isSoloMode && !giveUpHandlerService.isSwitchMode">
                    <button mat-raised-button color="primary" id="regular-button" (click)="endGameService.clearAllData()" routerLink="/home">
                        Abandonner
                    </button>
                </div>
                <div *ngIf="endGameService.isEndGame && gameSettingsService.isSoloMode && !giveUpHandlerService.isSwitchMode">
                    <button mat-raised-button color="primary" id="regular-button" (click)="endGameService.clearAllData()" routerLink="/home">
                        Quitter
                    </button>
                </div>
                <div *ngIf="!gameSettingsService.isSoloMode && !endGameService.isEndGame && !giveUpHandlerService.isSwitchMode">
                    <button mat-raised-button color="primary" id="regular-button" (click)="giveUpGame()">Abandonner</button>
                </div>
                <!-- Je convertis la partie de multijoueur vers partie solo  ici soit le abandonner delete la room officiellement ou depuis giveUp() je fais ca -->
                <div *ngIf="!endGameService.isEndGame && gameSettingsService.isSoloMode && giveUpHandlerService.isSwitchMode">
                    <button
                        mat-raised-button
                        color="primary"
                        id="regular-button"
                        (click)="endGameService.clearAllData(); clientSocketService.socket.emit('deleteGame', clientSocketService.roomId)"
                        routerLink="/home"
                    >
                        Abandonner
                    </button>
                </div>
                <div *ngIf="endGameService.isEndGame && gameSettingsService.isSoloMode && giveUpHandlerService.isSwitchMode">
                    <button
                        mat-raised-button
                        color="primary"
                        id="regular-button"
                        (click)="endGameService.clearAllData(); clientSocketService.socket.emit('deleteGame', clientSocketService.roomId)"
                        routerLink="/home"
                    >
                        Quitter
                    </button>
                </div>
            </div>
            <app-font-size id="font-size" [fontSize]="fontSize" (sizeChange)="handleFontSizeEvent($event)"> </app-font-size>
        </div>
    </div>
    <app-scrabble-board id="scrabble-board" tabindex="0"></app-scrabble-board>
    <app-letter-easel id="letter-easel"></app-letter-easel>
    <div id="chatbox">
        <app-chatbox></app-chatbox>
        <app-objectives></app-objectives>
    </div>
</div>
<app-background></app-background>
