p {
    color: #00856b;
    position: relative;
    float: right;
}

h2 {
    color: #00856b;
    font-size: 25px;
    text-align: center;
    margin: 0px 0 0px;
}

.easel-container {
    height: 33.75em;
    width: 5.25em;
    background-color: teal;
    border: 1em solid teal;
    border-radius: 6px;
}

.letter-container {
    height: 3.75em;
    width: 3.75em;
    background-color: tan;
    border: 0.25em solid tan;
    border-radius: 6px;
    margin: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 4px 4px 8px -3px #000000;
}
