p {
    margin-top: 10px;
    text-align: center;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img-title {
    margin-top: 20px;
}

.button {
    margin-top: 10px;
    text-align: center;
}

.header-item {
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #00804d;
}

.tab-group {
    padding: 20px 0;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding: 0 0 0 10px;
}

.radio-button {
    margin: 8px;
}
