<div class="container justified">
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>
    <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />

    <mat-tab-group animationDuration="1000ms" [(selectedIndex)]="selectedGameIndex">
        <mat-tab label="{{ games[0] }}">
            <mat-radio-group class="radio-group" [(ngModel)]="selectedMode">
                <mat-radio-button class="radio-button" value="solo" *ngFor="let mode of modes" [value]="mode">{{ mode }}</mat-radio-button>
            </mat-radio-group>
        </mat-tab>
        <mat-tab label="{{ games[1] }}">
            <mat-radio-group class="radio-group" [(ngModel)]="selectedMode">
                <mat-radio-button class="radio-button" value="soloLOG" *ngFor="let mode of modes" [value]="mode">{{ mode }}</mat-radio-button>
            </mat-radio-group>
        </mat-tab>
    </mat-tab-group>
    <button class="button" mat-raised-button [disabled]="!selectedMode" color="warn" routerLink="/{{ games[selectedGameIndex] }}-{{ selectedMode }}">
        Jouer!
    </button>
    <p>
        {{ games[selectedGameIndex] }}<br />
        {{ selectedMode }}
    </p>
    <div class="justified">
        <button class="button" mat-raised-button color="primary" routerLink="/material">Meilleurs scores</button>
    </div>
</div>
