<app-background></app-background>
<div class="justified">
    <img src="https://bit.ly/3m206ss" class="img-title" width="400" height="80" alt="Logo Scrabble" />

    <mat-tab-group class="tab-group" animationDuration="1000ms" [(selectedIndex)]="selectedGameIndex">
        <mat-tab label="{{ games[0] }}">
            <mat-radio-group class="radio-group" [(ngModel)]="selectedMode">
                <mat-radio-button class="radio-button" value="solo" *ngFor="let mode of modes" [value]="mode">{{ mode }}
                </mat-radio-button>
            </mat-radio-group>
        </mat-tab>
        <mat-tab label="{{ games[1] }}">
            <mat-radio-group class="radio-group" [(ngModel)]="selectedMode">
                <mat-radio-button class="radio-button" value="soloLOG" *ngFor="let mode of modes" [value]="mode">{{ mode
                    }}</mat-radio-button>
            </mat-radio-group>
        </mat-tab>
    </mat-tab-group>
    <button class="button" id="playButton" mat-raised-button [disabled]="!selectedMode" color="warn"
        (click)="setGameMode()" routerLink="/solo-game-ai">Jouer!</button>
    <p>
        {{ games[selectedGameIndex] }}<br />
        {{ selectedMode }}
    </p>
    <button class="button" id="resetButton" mat-raised-button [disabled]="!selectedMode" color="primary"
        (click)="resetRadios()">
        Effacer mon choix
    </button>
    <br />
    <div class="justified">
        <button class="button" mat-raised-button color="primary" routerLink="/material">Meilleurs scores</button>
    </div>
</div>