.container-bar {
    display: flex;
    height: 98vh;
    width: 22vw;
    min-height: 35em;
    min-width: 18em;
    flex-direction: column;
    margin: 1vh;
    justify-content: flex-start;
    gap: 1vh;
}
