<div class="header-item">
    <h1>Jeu du Scrabble - Équipe 107</h1>
    <mat-slide-toggle [(ngModel)]="isDark">Thème sombre</mat-slide-toggle>
</div>
<ul class="background" *ngIf="!isDark">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<ul class="background-dark" *ngIf="isDark">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
