<div class="chat-box">
    <div class="fakeMenu">
        <div class="fakeButtons fakeClose"></div>
        <div class="fakeButtons fakeMinimize"></div>
        <div class="fakeButtons fakeZoom"></div>
    </div>

    <h1 class="header-item">Boite de communication</h1>

    <div class="display" #scrollMe>
        <p
            id="listDisplay"
            *ngFor="let message of listMessages; let i = index; let last = last"
            [ngClass]="{
                playerStyle: listTypes[i] === 'player',
                opponentStyle: listTypes[i] === 'opponent',
                systemStyle: listTypes[i] === 'system',
                errorStyle: listTypes[i] === 'error'
            }"
        >
            > {{ message }}
        </p>
    </div>

    <input
        type="text"
        placeholder="Veuillez entrer un message ou une commande"
        maxlength="512"
        [(ngModel)]="message"
        (keypress)="keyEvent($event)"
        onblur="this.focus()"
        autofocus
    />
    <!-- <app-information-panel [isTour]="issTour"></app-information-panel>-->
</div>
