#listDisplay {
    margin-left: 10px;
    line-height: 1.6;
}

.display {
    overflow-y: auto;
    height: 50%;
    width: 85%;
    border-style: groove;
    font-size: 16px;
    padding: 15px 15px;
}

input[type='text'] {
    border-style: groove;
    width: 85%;
    height: 25px;
    font-size: 16px;
    padding: 15px 15px;
    background-color: #b3d9ca;
}

// Message du joueur : GREEN
//          opponent : ORANGE
//            System : BLUE
//            Erreur : RED

.player {
    color: green;
}

.opponentStyle {
    color: orange;
}

.systemStyle {
    color: blue;
}

.error {
    color: rgb(179, 12, 12);
}
