.container-bar {
    display: flex;
    height: 88vh;
    width: 22vw;
    min-height: 36em;
    min-width: 18em;
    flex-direction: column;
    margin: 1em;
    justify-content: flex-start;
    gap: 1em;
}

#information-panel{
    height: 45%; 
    width: 100%
}

#chatbox{
    height: 55%; 
    width: 100%; 
    display: flex;
}