.container {
    display: flex;
    width: 75vw;
    height: 90vh;
    min-height: 35em;
    min-width: 55em;
    margin-top: 1em;
    justify-content: flex-start;
    flex-direction: row;
    gap: 5em;
}

.board-container {
    outline: none;
}

button {
    height: 3em;
    width: 8em;
}

#pass-button {
    height: 3em;
    width: 8em;
}

#play-button {
    height: 3em;
    width: 8em;
}
