<h1 mat-dialog-title style="color: black">Paramètres</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill" style="width: 500px">
        <mat-label>Nom du joueur</mat-label>
        <input matInput [formControl]="form" />
        <mat-hint>
            {{ charRange.min }}-{{ charRange.max }} caractères
            <br />
            Les 4 premiers caractères doivent être des lettres
            <br />
            {{ specialChar }} autorisés
        </mat-hint>
    </mat-form-field>
</div>
<br />
<br />
<br />
<div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="this.dialogRef.close(null)">Fermer</button>
    <button mat-raised-button mat-dialog-close (click)="this.dialogRef.close(this.form.value)" color="warn"
        [disabled]="!form.valid">
        Confirmer
    </button>
</div>