<img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" id="logo-scrabble" />

<form id="name-form-box">
    <fieldset>
        <legend>Game Settings</legend>
        <fieldset class="form-section">
            <legend>Player Information</legend>
            <app-player-name-field [formGroup]="form" [parentForm]="form"></app-player-name-field>
        </fieldset>

        <fieldset class="form-section">
            <legend>Time</legend>
            <app-timer-field [formGroup]="form" [parentForm]="form"></app-timer-field>
        </fieldset>

        <fieldset class="form-section">
            <legend>Game Difficulty</legend>
            <app-level-field [formGroup]="form" [parentForm]="form"></app-level-field>
        </fieldset>
    </fieldset>
</form>

{{ form.value | json }}
