<app-background></app-background>

<div id="logo-scrabble"><img src="https://bit.ly/3m206ss" width="400" height="80" class="img-title" alt="Logo Scrabble" /></div>
<form id="main-form-box">
    <fieldset>
        <legend id="main-form-name">Paramètres de la partie</legend>
        <fieldset class="form-section" id="player-name-box">
            <legend>Informations du joueur</legend>
            <app-player-name-field [formGroup]="form" [parentForm]="form"></app-player-name-field>
        </fieldset>

        <fieldset class="form-section">
            <legend>Durée</legend>
            <app-timer-field [formGroup]="form" [parentForm]="form"></app-timer-field>
        </fieldset>

        <fieldset class="form-section">
            <legend>Difficulté de l'IA</legend>
            <app-level-field [formGroup]="form" [parentForm]="form"></app-level-field>
        </fieldset>
    </fieldset>
</form>
<button mat-raised-button (click)="initGame()" id="submit-button" color="warn" [disabled]="!form.valid" routerLink="/game">Continue</button>
