// #form-section-box {
//     width: 100px;
//     height: 100px;
//     background-color: bisque;
// }
#main-form-box {
    display: inline;
}

#main-form-name {
    font-size: large;
    text-align: center;
}
