#logo-scrabble {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 80px;
}

#main-form-box {
    margin-top: 10px;
    width: 32%;
    margin-left: auto;
    margin-right: auto;
}

#main-form-name {
    text-align: center;
    font-size: large;
}

#submit-button {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#player-name-box {
    height: 6.875rem;
}
