.header-item {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: #00804d;
}

.header-item {
    display: flex;
    color: #f5fbf3;
    text-shadow: 1px 1px 1px #a9da9f;
}

h1 {
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 30px;
}

#logo-scrabble {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 80px;
}

#main-form-box {
    margin-top: 10px;
    width: 32%;
    margin-left: auto;
    margin-right: auto;
}

#main-form-name {
    text-align: center;
    font-size: large;
}

#submit-button {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#player-name-box {
    height: 6.875rem;
}
